$standard-color: red;

@mixin radius($r:5px) {
	border-radius: $r;
}

.table {
	&, th, td {
		border-width: 1px;
		border-style: solid;
		border-color: $standard-color;
	}
}

#links {
	@extend .table;
	@include radius();
	
	float: left;
	margin-right: 100px;
}

#rechts {
	@extend .table;
	@include radius(15px);
	
	border-color: blue;
}

